@import url("styles/header.style.css");
@import url("styles/hero.style.css");
@import url("styles/service.style.css");
@import url("styles/project.style.css");
@import url("styles/about.style.css");
@import url("styles/contact.style.css");
@import url("styles/footer.style.css");

:root {
  --primary: rgba(0, 120, 212, 1);
  --light: rgba(255, 255, 255, 1);
  --dark: rgba(0, 0, 0, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(250, 250, 250, 1);
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: var(--primary);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--light);
  background-color: transparent;
  border: solid 2px var(--primary);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
}

.cta:hover {
  background-color: var(--primary);
}

.brand h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--light);
}

.brand h1 span {
  color: var(--primary);
}

/* Media query for smartphone */
@media only screen and (min-width: 576px) {
  h2.section-title {
    font-size: 4rem;
  }
}
/* End media query for smartphone */

/* Media query for tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h2.section-title {
    font-size: 6rem;
  }

  .brand h1 {
    font-size: 3rem;
  }
}
/* End media query for tablet */
