.contact ul {
  list-style: none;
}

.contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.contact img {
  color: var(--text-color) !important;
  margin-right: 8px;
  filter: invert(55%) sepia(15%) saturate(583%) hue-rotate(209deg) brightness(89%) contrast(88%);
}

.contact span,
.contact a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

