.simple-list ul {
  color: var(--text-color);
  margin-left: 20px;
}

.simple-list ul li {
  margin-bottom: 8px;
}

.simple-list__title,
.simple-list__legend,
.simple-list__info {
  font-size: 14px;
  line-height: 15px;
  display: block;
  margin-bottom: 2px;
}

.simple-list__title {
  font-weight: 700;
}

.simple-list__legend {
  font-weight: 400;
}

.simple-list__info {
  font-weight: 500;
}
