.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__image {
  width: 50%;
  border-radius: 50%;
  border: 2px solid #00ff00;
  margin-bottom: 15px;
}

.user__name {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--text-color);
  margin-bottom: 3px;
  text-align: center;
}

.user__function {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--text-color);
  text-align: center;
}
