@import "./styles/general.css";
@import "./styles/card.css";
@import "./styles/user.css";
@import "./styles/contact.css";
@import "./styles/technologies.css";
@import "./styles/simple-list.css";
@import "./styles/projects.css";
@import "./styles/post.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

/* 
  grid-breakpoints
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px 
*/

body {
  background-color: var(--body-bg-color);
  font-family: "Merriweather Sans", sans-serif;
}
