.card {
  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
  margin-bottom: 5px;
}
