.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post__image {
  width: 40%;
  border-radius: 50%;
}

.post__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-left: 0;
}

.post__info-title,
.post__info-date,
.post__info-description {
  color: var(--text-color);
  font-weight: 400;
}

.post__info-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
}

.post__info-date {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

.post__info-description {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.post__info-keys {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.post__info-keys li {
  margin-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
  white-space: nowrap;
}

.post__info-keys li::before {
    content: "#";
}

@media screen and (min-width: 768px) {
  .post {
    flex-direction: row;
  }

  .post__info {
    margin-left: 20px;
  }
}
