.technologies ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.technologies ul li {
  margin: 5px;
  background-color: var(--bg-techs);
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  padding: 10px;
}
